{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-10">
                Home Page
            </div>
        </div>
    </div>
{{end}}